:root {
  --dropdown-bg: #21242d;
  --nice-black: #2E2E2E;
  --pretty-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  --dark-black: #252525;
  --another-shadow: box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  --orange: #ff4400;
}



@-webkit-keyframes jello-vertical {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	40% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	50% {
		-webkit-transform: scale3d(0.85, 1.15, 1);
		transform: scale3d(0.85, 1.15, 1);
	}
	65% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}
	75% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes jello-vertical {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	40% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	50% {
		-webkit-transform: scale3d(0.85, 1.15, 1);
		transform: scale3d(0.85, 1.15, 1);
	}
	65% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}
	75% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

.swing-in{
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

section, article{
  display: flex;
  justify-content: center;
}
html{
  padding: 0px;
  margin: 0px;
}

header, nav, h4, span{
  user-select: none;
}

input, select, textarea, body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    
    align-items: stretch;
    text-align: start;
    justify-content: space-between;
    height: 50px;
    
    box-sizing: border-box;
    white-space: nowrap;
    padding: 2px;

    background-color: var(--nice-black);

    z-index: 2;
}

header > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background-color: var(--dark-black);
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
    color: whitesmoke;
    display: flex;
    flex-flow: column;
    position: absolute;
    box-sizing: border-box;
}

header > article{
flex-flow: column;
align-items: center;
}

.mini-butt > img{
  width:80%;
 height:80%;
}

main{
  
  background-image: url("pat.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 200%;


  display: flex;
  flex-grow:1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  row-gap: 1%;
  padding-left: 0.5%;
  
}

    /* Title Starts */
.cool{
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
  transition: all 0.5s ease;
}

.cool:hover{
  color: #e0dfdc;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
  transform: translate3d(4px, -4px, 0);
  z-index: 1;
}

.lifted{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.mini-butt {
  min-width: 45px;
  text-align: center;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.mini-butt:active {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	transform: scale(0.69);
}

.mini-butt:hover {
	background-color: #1b1212;
	animation: jello-vertical 1s both;
}
.mini-butt {
	background-color: #353935;

	outline: none;
	height: 100%;
	border-style: none;
	color: darkorange;

	transition: all 0.2s ease-in-out;

	cursor: pointer;
	text-shadow: 0 0 10px rgba(255, 109, 0, 0.7),
		0 0 40px rgba(255, 109, 0, 0.7), 0 0 100px rgba(255, 109, 0, 0.7);
}

article.flags{
  display: flex;
  flex-flow: column wrap-reverse;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  right: 10px;
  bottom: 10px;
  position: fixed;
  gap: 6px 6px;
}


div.flag{
  flex-grow: 1;
  display: inline-block;
  padding: 6px 10px;
  cursor: pointer;
  
  max-height: 200px;
  max-width: 450px;
  overflow-y: auto;
  overflow-x: clip;
  white-space: pre-wrap;

  word-break: break-all; 
  hyphens: manual;
  -ms-hyphens: manual;

  transition: all 0.5s ease;
  border: 2px solid transparent;
  animation: jello-vertical .39s both;
}

div.closed{
  opacity: 0;
}

div.flag:before{
  transition: all 0.5s ease;
  box-shadow: var(--pretty-box-shadow);
  margin-right: 10px;
  font-size: 1.3rem;
  border: 1px solid transparent;
  padding: 2px;
}

div.error{
background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: rgba(255, 0, 0, 0.19) 0px 19px 38px, rgba(255, 0, 0, 0.23) 0px 15px 12px, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
div.error:before{
  content: "❌";
}

div.info{
  background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: rgba(0, 247, 243, 0.19) 0px 19px 38px, rgba(0, 238, 255, 0.23) 0px 15px 12px, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
div.info:before{
  content: "ℹ️";
}

div.warning{
  background-color: #F7971E;
  color: black;
  box-shadow: rgba(255,85, 2, 0.19) 0px 19px 38px, rgba(255, 85, 0, 0.23) 0px 15px 12px, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

div.warning:before{
  content: "⚠️";
}
div.flag:hover::before{
  border: 1px solid var(--dark-black);
} 
div.flag:hover{
  border: 2px solid var(--dark-black);
}

input.switch[type=checkbox]{
  display: none;
}

input.switch + label {
  cursor: pointer;
  text-indent: -9999px;
  width: 65px;
  height: 20px;
  display: block;
  border-radius: 100px;
  position: relative;
  background-color: grey;
  transition: all 0.5s ease;
}

input.switch + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 14px;
  height: 16px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input.switch:checked + label {
  background: var(--orange);
}

input.switch:checked + label:after {
  left: calc(100% - 25px);
  width: 20px;
  animation: jello-vertical 1s both;
}

input.switch:active:after {
  width: 130px;
}
