<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Closed</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="modal-active">
    <aside class="modal-container one" id="copyright">
        <div class="modal-background">
          <div class="modal" style="font-size: 4rem; justify-content: center;">
            You can close this Session
          </div>
        </div>
      </aside>
</body>
</html>